bh{
    background-color: rgb(223, 0, 0);
    padding: 10px,20px;
    font-style: italic;
}
body{
    background-color: rgb(255, 255, 255);
}
p,h1{
    color: rgb(33, 206, 17);
    font-size: 40px;
    text-align: center;
}

footer{
    color: blueviolet;
}
.ab{
    background-color: rgb(134, 230, 230);
    box-sizing: border-box;
    
}
.section1{
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
    opacity: .5;
    text-align: center;
}
.section2{
    font-size: 20px;
    font-weight: bold;
    background-color: brown;
    opacity: .5;
    text-align: center;
}
h2{
    text-align: center;
}
nav li:nth-child(odd){
    color: blue;
    list-style: none;
    background-color: cadetblue;
}
a:link, a:visited {
    text-decoration: none;
    background-color: aquamarine;
    border: 3px solid;
    color: black;
    display: block;
    text-align: center;
    width: auto;
    margin-bottom: 1px;
}
a:hover, a:active{
    background-color: blueviolet;
    color: coral;
}