.bh{
    background-color: rgb(132, 202, 202);
    padding: 10px,20px;
}
body{
    background-color: black;
}
h1{
    color: rgb(206, 124, 17);
    border: 23px;
    border-color: aquamarine;
    padding-block: 10px;
    padding-left: 50px;
    padding: center;
}
footer{
    color: blueviolet;
}
.ab{
    background-color: azure;
    box-sizing: border-box;
    
}
section{
    padding-block: 40px;
    padding-left: 30px;
}