*{
    margin: 0;
    padding: 0;

}
bh{
    background-color: rgb(223, 0, 0);
    padding: 10px,20px;
    font-style: italic;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    color: rgb(69, 134, 64);
    font-size: 16px;
    text-align: center;
}
p{
    color: rgb(70, 19, 19);
    /* font-size: 16px;
    text-align: justify;
    padding: 10px;
    margin: 5px;
    background-image: url(/mat1.jpg);
    border: 5px solid rgb(185, 4, 4); */
    width: 50px;
    height: 50px;
    border: 1px solid black;

}
footer{
    color: blueviolet;
}
.ab{
    background-color: rgb(134, 230, 230);
    box-sizing: border-box;
    
}
.section1{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(42, 165, 134);
    opacity: .5;
    text-align: center;
    
}
.section2{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(118, 165, 42);
    opacity: .5;
    text-align: center;
}
h2{
    text-align: center;
}
nav li:nth-child(odd){
    color: blue;
    list-style: none;
    background-color: cadetblue;
}
a:link, a:visited {
    text-decoration: none;
    background-color: aquamarine;
    border: 3px solid;
    color: black;
    display: block;
    text-align: center;
    width: auto;
    margin-bottom: 1px;
}
a:hover, a:active{
    background-color: rgb(130, 80, 177);
    color: rgb(223, 66, 9);
}
#p1{
    background-color: aqua;
    float: right;
}
#p2{
    background-color: coral;
    
}
#p3{
    background-color: blue;

}
#p4{
    background-color: crimson;
}
#da{
    background-color: rgb(33, 153, 113);
}